/** @format */

.btnCarImage {
  background: blueviolet;
  border: blueviolet;
}

.fixedsocial {
  top: 85% !important;
  height: 200px !important;
  width: 60px !important;
  position: fixed !important;
  right: 0 !important;
  z-index: 3 !important;
}
.showChat {
  top: 28% !important;
  height: 400px !important;
  width: 320px !important;
  position: fixed !important;
  right: 0 !important;
  z-index: 3 !important;
}

.btnCarImage:hover {
  background: rgb(111, 11, 204);
  border: rgb(111, 11, 204);
}

.dashboardBtn {
  .btn-block {
    height: 46px;
  }

  .uil {
    font-size: 18px;
  }
}

.uil-sliders-v-alt::before {
  transform: rotate(90deg);
}

.uk-card {
  .border-right {
    border-right: 3px solid #e6e6ea !important;
  }
  .fontSize {
    font-size: 60px;
  }
}

@media screen and (max-width: 760px) {
  .showChat{
    top: 11% !important;
  }
  .Pipeline_Size {
    font-size: 10px;
  }
  .Pipeline_Size_In {
    width: 180px !important;
  }
  .Lead_Board_Style {
    overflow-y: auto;
  }
}

.calendar_container_outer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }
  .calendar_container {
    width: 80%;
    height: 100%;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    position: relative;
    .add_event {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    .calendar_with_event {
      background-color: white !important;
      padding: 10px;
      border-radius: 8px;
      .rbc-toolbar {
        width: 100%;
        .rbc-btn-group {
          width: 100%;
          button {
            width: 20%;
            font-size: 1.04rem;
            font-weight: 700;
            font-family: 'Nunito Sans', sans-serif;
            color: #4b4b5a;
          }
          button.rbc-active {
            background-color: #5369f8;
            color: white;
            box-shadow: none;
            border-color: #5369f8;
          }
        }
        .rbc-toolbar-label {
          font-size: 1.04rem;
          font-weight: 700;
          font-family: 'Nunito Sans', sans-serif;
          color: #4b4b5a;
        }
      }
      .rbc-month-view {
        border-radius: 8px;
        .rbc-month-row {
          overflow: auto;
        }
        .rbc-row-segment:hover {
          display: block;
        }
        .rbc-time-view {
          border-radius: 8px;
        }
        .rbc-agenda-view {
          border-radius: 8px;
        }
      }
    }
  }
}
