/** @format */

/* .navbar-brand img {
  height: 24px !important;
} */

.dropdown.profile-dropdown {
  display: block;
}

.Logo_Header_Show button i {
  display: none;
}

@media screen and (min-width: 1025px) {
  .Logo_Header_Show img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .Website_Show {
    display: none;
  }
}

/* @include media-breakpoint-down(sm) {
  body {
    overflow-x: hidden;
  }
  .left-side-menu {
    display: none;
    z-index: 10 !important;
    top: $topbar-height;
  }
  .sidebar-enable {
    .left-side-menu {
      display: block;
    }
  }
  .content-page,
  .left-side-menu-condensed .content-page {
    margin-left: 0 !important;
    padding: 0 10px;
  }
  .pro-user-name {
    display: block;
  }
  .logo-box {
    display: none;
  }
} */

@media screen and (max-width: 760px) {
  .Logo_Header_Show button i {
    display: block;
  }
}
