/** @format */

@media screen and (max-width: 750px) {
  .Lead_Style div {
    font-size: 10px;
  }
  .Lead_Style button {
    height: 30px;
    width: 30px;
    padding: 0px;
  }
  .Lead_Board,
  .Lead_Board a,
  .Lead_Board i {
    font-size: 10px;
    padding: 0px;
  }
.Button_Size{
  font-size: 8px;
}

.Footer_Center{
  position: relative;
  left: 100px;
  border: 1px solid red; 
  /* font-size: 8px; */

}
  /* .Lead_Board a i,
  .Lead_Board a span {
    font-size: 5px !important;
  } */
}
