/** @format */

.App {
  text-align: center;
}

.ToolbarRoot-flexContainer-30 {
  display: none !important;
}

.image__container {
  position: relative;
}

.image__container .offer__label {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 0;
}

.image__container .offer__label img {
  width: 100px;
  object-fit: cover;
}

.vehicleShow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}