/** @format */

* {
  box-sizing: border-box;
}


@media screen and (max-width: 767px) {
    .table-responsive {
        overflow-y:scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        font-size: 10px;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
  
    .size-col-2{

    min-width:36% ;
       border: 1px solid red;
    
       flex: 0 0 50%;
       max-width: 50%;
    
    }
    .size-col-10{
        
       border: 1px solid red;
      
    flex: 0 0 50%;
    max-width: 50%;
    }
    .h4-size{
        font-size: 16px;
    }
    /* .size-card{
        width: 100%;
    } */
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* table, thead, tbody, th, td, tr { 
                        display: block; 
                } */
  .col-2 {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #col {
    float: none;
    width: 100%;

    display: block;
  }
}

